/*우선 순위: 포괄 < 구체
    --우선 순위: TAG < CLASS < id -->
    <!--같은 급일 때는 위 -->  아래 -->
            */
body > li {
  /* > 자식, 띄어쓰기는 자손 */
  color: teal;
}
ul:last-child {
  background-color: pink;
}
.incheon {
  color: darkblue;
}
.korea,
h6 {
  /*콤마: 함께*/
  color: crimson;
}
#leader {
  color: violet;
}
li:nth-child(4) {
  /*1부터 시작*/
  text-decoration: underline;
}
h2 + h3 {
  /*h2 형제 중 첫번쨰 h3*/
  background-color: skyblue;
}
h2 ~ h3 {
  /*h2형제 중 여러 h3*/
  font-size: 40px;
}
body > ul > ul:nth-child(2) {
  /* 찾는 요소 우클릭 > 검사 > 개발자도구 > 우클릭 > copy > copy selector */
  background-color: pink;
}
